<style type="text/css">
    .switch span {
        line-height: 10px;
    }

    .glyphicon-remove {
        opacity: 0.4;
    }

    .glyphicon-remove:hover {
        opacity: 0.9;
        cursor: pointer;
    }

    .help-block {
        margin-bottom: 0px;
    }
</style>

<div class="modal-header">
    <div class="row">
        <div class="col-md-10 cronos-modal-title">Create Product</div>
        <div class="col-md-2 text-right">
            <span class="glyphicon glyphicon-remove" style="cursor:pointer;" ng-click="dismiss()"></span>
        </div>
    </div>
</div>

<form name="issueModalForm" role="form" novalidate>
    <div class="modal-body">
        <div class="row form-group">
            <label class="col-md-3 control-label cronos-label">Product Code</label>
            <div class="col-md-9">
                <input name="productCode" type="text" class="form-control" maxlength="100" ng-model="product.code">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-3 control-label cronos-label">Product Name</label>
            <div class="col-md-9">
                <input name="productName" type="text" class="form-control" maxlength="100" ng-model="product.name">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-3 control-label cronos-label">Overall Amount</label>
            <div class="col-md-9">
                <input name="productAmount" type="text" class="form-control" maxlength="100" ng-model="product.amount">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" title="Create" class="btn btn-primary" ng-click="createProduct(product.code, product.name, product.amount)">
            Create
        </button>
        <button class="btn btn-default" title="Cancel" ng-click="cancel()">Cancel</button>
    </div>
</form>